// Variáveis globais
:root {
  --primary: #0f172a;
  --secondary: #6366f1;
  --text-primary: #f1f5f9;
  --text-secondary: #808ea3;
}

// Reset básico
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: var(--text-primary);
}

// Títulos
h1, h2, h3, h4, h5, h6 {
  color: var(--secondary);
  font-weight: bold;
}
